**/proj_modelsim/work
**/proj_modelsim/vsim.wlf
**/db/
**/incremental_db/
*.bak
*.wlk
*.ini
**/output_files/*.*
**/output_files/!*.sof
**/proj_quartus/greybox_tmp
**/proj_quartus/*.vwf
**/proj_quartus/simulation/*
**/proj_quartus/*.qsf
*.mti
*.mpf
*.qws
*.ppf
*.qip
transcript
!*.sof
